@use "./variables";

.card-container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	background-color: variables.$black-color;
	gap: 16px;
	box-sizing: border-box;
	padding: 24px;

	@include variables.for-medium-screen {
		padding: 40px;
		gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include variables.for-large-screen {
		gap: 32px;
		padding: 40px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@include variables.for-extralarge-screen {
		padding: 48px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
