@use "./variables";

.card {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	height: 220px;
	cursor: pointer;

	@include variables.for-medium-screen {
		height: 350px;
	}
	@include variables.for-large-screen {
		height: 300px;
	}
	@include variables.for-extralarge-screen {
		height: 320px;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: relative;
		transition: transform 0.2s;
		transform: scale(1.1);
		&:hover {
			transform: scale(1);
		}
	}

	&:hover .card__details {
		transform: scale(1);
		margin-bottom: 0px;
	}
	&:hover .card__like {
		display: flex;
	}

	&__like {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 8px;
		background: rgba(variables.$light-color, 0.7);
		backdrop-filter: saturate(180%) blur(10px);
		color: variables.$primary-color;
		font-size: 26px;
		border-radius: 50px;
		padding: 12px;
		align-items: center;
		justify-content: center;
		transform: scale(0.9);
	}

	&__details {
		transform: scale(0.9);
		position: absolute;
		bottom: 0;
		transition: transform 0.2s;
		left: 0;
		right: 0;
		margin-bottom: 4px;
		width: 100%;
		box-sizing: border-box;
		border-radius: 20px;
		padding: 18px;
		display: flex;
		flex-direction: column;
		background: rgba(variables.$light-color, 0.7);
		backdrop-filter: saturate(180%) blur(10px);
		gap: 6px;
		color: variables.$primary-color;

		@include variables.for-medium-screen {
			padding: 24px;
		}

		&--desc {
			font-size: 8px;
		}

		&--label {
			font-size: 10px;
		}

		&--star {
			font-size: 10px;
			display: flex;
			gap: 2px;
			align-items: center;
		}

		&--heading {
			font-size: 12px;
			color: variables.$primary-dark-color;
			font-weight: 700;
		}

		@include variables.for-medium-screen {
			&--desc {
				font-size: 10px;
			}
			&--label {
				font-size: 14px;
			}

			&--heading {
				font-size: 14px;
				color: variables.$primary-dark-color;
				font-weight: 700;
			}
			&--star {
				display: flex;
				gap: 2px;
				align-items: center;
				font-size: 14px;
			}
		}
	}
}
