@use "./variables";

.nav {
	background-color: variables.$black-color;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 16px 24px;
	justify-content: space-between;
	z-index: 100;

	&__logo {
		img {
			width: 140px;
		}
	}

	&__menu {
		color: variables.$light-color;
		display: flex;
		align-items: center;
		gap: 10px;

		&--cart {
			display: flex;
			align-items: flex-start;

			&-icon {
				font-size: 32px;
				padding: 8px;
				border: 1px solid variables.$light-color;
				border-radius: 24px;
				color: variables.$light-color;
				-webkit-border-radius: 24px;
				-moz-border-radius: 24px;
				-ms-border-radius: 24px;
				-o-border-radius: 24px;
			}

			&-label {
				padding: 1px 8px;
				border-radius: 20px;
				background-color: variables.$primary-color;
				color: variables.$light-color;
				margin-left: -8px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-ms-border-radius: 20px;
				-o-border-radius: 20px;
			}
		}
	}
}
